body{
    margin: 0;
    
    
}
section{
    height: 450px;
    padding-bottom: 150px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.half-width img{
    width: 100%;
}
span{
    color: goldenrod;
}
h1{
    font-size: 40px;
}
.link-button{
    background: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
}
.half-width p{
    padding: 15px 0px 50px 0px;
}
.about-area{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.my-recipie{
    text-align: center;

}
.my-recipie p{
    padding: 0px 350px 0px;
}
section .recipie{
    height: 250px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
