body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.food-network{
    height: 450px;
    padding-bottom: 150px;
}
.about-area{
    height: 450px;
    padding-bottom: 150px;
}
.recipie{
    height: 200px;
    padding-bottom: 50px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 1%;
}
.half-width img{
    width: 100%;
}
span{
    color: goldenrod;
}
h1{
    font-size: 40px;
}
.link-button{
    background: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
}
.half-width p{
    padding: 11px 0px 21px 0px;
}
.about-area{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.my-recipie{
    text-align: center;

}
.my-recipie p{
    padding: 0px 350px 0px;
}
.recipie{
    height: 250px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.food-show{
    height: 450px;
    padding-bottom: 100px;
    
}
.one-thidr-width{
    width: 28%;
    box-shadow: 0px 0px 10px grey;
    margin-left: 32px;
    border: 5px solid #fff;
    border-radius: 17px;
}
.one-thidr-width h3{
    padding-left: 8px;    

}
.one-thidr-width img{
    width: 100%;
   
}
.one-thidr-width p{
    padding-left: 8px;
}
.clear{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
/* .card{
    width: 80%;
 
 margin-left: 10%;
  border-radius: 25px;
  display: flex;
  
  box-shadow: 10px 10px 40px gray;
 } */
 .social-media{
    width: 30%;
    padding-left: 9%;
    
}
#social-area {
   background-color: white;
   padding: 2% 2%;
   margin: 2% 2%;
   display: flex;
   box-shadow: 10px 10px 30px gray;
   border-radius: 25px;


   
}
 
footer{
    text-align: center;
    background-color: black;
    padding: 30px 5px;
    margin-top: 100px;
}

footer p{
    color: white;
}
footer h1{
    color: white;
}
ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black

}
li{
    float: right;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px 28px;
    margin-left: 60px;
    text-decoration: none;
    border-radius: 10px;
  }
  li a:hover {
    background-color: rgb(64, 32, 178);
    color: orange;
    
  }
  @keyframes slide{
    25%{
        background: url(images/food/Project\ Cover8.png);  
    }
    50%{
        background: url(images/food/Project\ Cover7.png);   
    }
    75%{
        background: url(images/food/Project\ Cover6.png); 
    }
    100%{
        background: url(images/food/Project\ Cover5.png);   
    }
}
